.chat {
  display: flex;
  flex-direction: column;
  height: 100%;
  border-radius: var(--border-radius-md);
  overflow-y: auto;
  overflow-x: hidden;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.chat::-webkit-scrollbar {
  display: none;
}
