.chat {
  display: flex;
  flex-direction: column;
  height: 100%;
  border-radius: var(--border-radius-md);
  overflow-y: auto;
  overflow-x: hidden;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.chat::-webkit-scrollbar {
  display: none;
}

.chat__error-message {
  align-self: center;
  font-size: var(--font-size-lg);
  color: var(--color-bg-button);
  padding: var(--spacing-sm);
}
