.message {
  padding: var(--spacing-lg);
  background-color: var(--color-bg-message-other);
  border-radius: var(--border-radius-md);
  max-width: 70%;
  align-self: flex-start;
}

.message--user {
  background-color: var(--color-bg-message-user);
  align-self: flex-end;
}

.message + .message {
  margin-top: var(--spacing-sm);
}

.message--user + .message:not(.message--user),
.message:not(.message--user) + .message--user {
  margin-top: var(--spacing-lg);
}

.message__author {
  font-size: var(--font-size-sm);
  color: var(--color-text-secondary);
  margin-bottom: var(--spacing-xs);
}

.message__content {
  font-size: var(--font-size-base);
  color: var(--color-text-primary);
  margin-bottom: var(--spacing-xs);
  word-wrap: break-word;
}

.message__timestamp {
  font-size: var(--font-size-sm);
  color: var(--color-text-light);
}

.message__timestamp.shimmer-reversed {
  color: transparent;
  border-radius: var(--border-radius-sm);
}
