.message-list-loading {
  display: flex;
  padding: var(--spacing-lg) var(--spacing-xl);
  margin: 0 auto;
  flex: 1;
  min-height: 0;
  justify-content: center;
  align-items: center;
  font-size: var(--spacing-xl);
}
